<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand">Star Wars</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="'starWars/part1'" (click)="isMenuCollapsed = true">Part 1</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="'starWars/part2'" (click)="isMenuCollapsed = true">Part 2</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="text-center">
    <span class="text-muted">Neria Kalazan @ 2021</span>
  </div>
</footer>

